<h1>Job Board</h1>

<%= form_with url: job_postings_path, method: :get do |f| %>
  <%= f.text_field :q, value: params[:q], placeholder: "Search jobs..." %>
  <%= f.select :category_id, options_from_collection_for_select(@categories, :id, :name, params[:category_id]), { include_blank: "All categories" } %>
  <%= f.text_field :location, value: params[:location], placeholder: "Location" %>
  <%= f.number_field :salary_min, value: params[:salary_min], placeholder: "Min salary" %>
  <%= f.number_field :salary_max, value: params[:salary_max], placeholder: "Max salary" %>
  <%= f.check_box :remote, checked: params[:remote] == "1" %> Remote only
  <%= f.check_box :featured, checked: params[:featured] == "1" %> Featured only
  <%= f.check_box :expiring_soon, check: params[:expiring_soon] == "1" %> Expiring soon
  <%= f.submit "Filter" %>
<% end %>

<p><%= @jobs.count %> jobs found</p>

<% @jobs.each do |job| %>
  <div>
    <%= link_to job.title, job_posting_path(job) %>
    <span><%= job.company.name %></span>
    <span><%= job.category.name %></span>
    <% if job.remote %><span>Remote</span><% end %>
    <% if job.featured %><span>Featured</span><% end %>
    <% if job.salary_min %>
      <span>$<%= number_with_delimiter(job.salary_min) %> - $<%= number_with_delimiter(job.salary_max) %></span>
    <% end %>
    <span>Expires <%= job.expires_at.strftime("%b %d") %></span>
  </div>
<% end %>